
<!-- Single Post View -->

<div class="flash-message-space" name="flash-message"></div>

<div class="col-md-8">

<h1 class="page-title"><%= @post.title %></h1>

<div class="button">
<% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
</div>

<div class="break-float"></div>

<div class="row">
    <div class="post-box">
  
    <p><%= @post.body %></p>
  </div>
</div>
  <div class="col-md-4">
    
  </div>
</div>