/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.user-info {
    margin-top: 12px;
    float:right;
    padding:0;
}

#hello {
  position:relative;
  float:right;
 
}

#sign-out {
position:relative;
  float:right;

}

#avatar {
position:relative;
  float:right;
  margin:0 30px 0 0;
  
}

.nav {
    margin-top: 5px;
}

* {
    font-family: Calibri;
    
}

#user-name {
  position: relative;
  float: left;
  font-size: 18px; 
  margin-right: 5px;
  margin-top:3px;
}

#link {
  position: relative;
  float: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;

  }

  #link:hover {
    text-decoration: none !important;

    
  }

  .alert-success{
    position:absolute;
    z-index:999;
    width: 47.66%;
    opacity: 1;
  }

  .alert-danger {
position:absolute;
    z-index:999;
    width: 47.66%;
    opacity: 1;
  }

.alert-warning {
  position:absolute;
    z-index:999;
    width: 47.66%;
    opacity: 1;

}

#alerts {
    
    margin-bottom:80px;

}

.new-edit-alert {
  position: static !important;
  }

.vote-arrows {
    text-align: center;
    

}