/// Place all the styles related to the topics controller here.

.post-left {
    position: relative;
    float: left;
    width: 65%;
}
.post-right {
    position: relative;
    Float: right;

}

h1.post-title {
    font-weight: bold;
    color: red;
    font-size: 30px;
    width: 75%;
    margin: 10px;

}

.topic-title {
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
    width: 90%;

}

.post-box {
    border:2px solid white;
    border-radius: 6px;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 1px 2px 3px #333;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post {
width: 75%;
margin-left: 10px;
font-size: 16px;    
}    



.break-float {
    clear:both;
}


.badge {
    
    background-color: #428BCA;
    }

.badge-div {
    position: relative;
    float: left;
    margin-top:7px;
    margin-left:10px;
}

.new-btn {
    float: left;
}

.delete-btn {
   display:inline-block;

}


 .edit-btn {    
 display:inline-block;
}

.buttons {
float:right;
    
}

.voter {

   
}

.topic-voter {
    float: left;
    font-size: 20px;
    text-align: center;
}

.topic-post {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 22px;
    width: 90%;
}